.Container{
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
    max-width: 600px;
    border-radius: 2px;
    margin: 10px auto;
    padding-left: 10px;
    display: grid;
    margin-top: 50px;
    justify-items: center;
    background-color: rgb(57, 57, 57);
    
}
.Container:hover{
    box-shadow: -8px -8px 0px rgba(0, 0, 0, 0.3);

}

.h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
.h2,.result{
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.button{
    background-color: #358bed;
    border: none;
    color: white;
    padding: 6px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover{
    background-color: #318ffc;
}

.date{
    max-width: 300px;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    width: 300px;
}

